@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --bgmain: #fbfbf7;
  --borderColor: #EFEDEB;
}

.dark {
  --background: #0f0f0f;
  --foreground: #f4f4f4;
  --bgmain: #1a1a1a;
  --borderColor: #efedeb;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}
